<div class="flex flex-row items-center justify-center my-5">
  <div class="flex flex-row items-center justify-center border-2 border-solid border-slate-200 rounded-xl p-3
    shadow-lg shadow-slate-500/50
    transition delay-150 duration-400 ease-in-out hover:-translate-y-1 hover:scale-110">

    <div class="border-r border-red-600 px-5">
      <button mat-button>
        Any where
      </button>
    </div>

    <div class="border-r border-red-600 px-5">
      <button mat-button>
        Any time
      </button>
    </div>

    <div class="px-3">
      <button mat-button>
        <mat-icon style="color: red;">search</mat-icon>
      </button>
    </div>

  </div>

</div>
