<div class="flex h-screen p-20 gap-5">

  <div class="w-1/3 flex flex-col items-center bg-[#4e444b] h-[90%] rounded-xl">
    <p class="text-3xl font-bold p-5 text-slate-200">
      List of Nakama
    </p>

    <ul>
      @for(n of listofNakama; track $index) {
      <li (click)="clicked(n)" (keydown.enter)="clicked(n)" tabindex="0"
        class="w-full rounded-md my-3 cursor-pointer text-slate-300 hover:bg-slate-200 hover:text-black">
        <label class="w-full cursor-pointer">
          <input type="radio" name="nakama" class="hidden peer" />
          <p class="px-10 py-2 peer-checked:bg-slate-800 peer-checked:rounded-md peer-checked:text-white font-semibold">
            {{ n.name }}
          </p>
        </label>
      </li>
      }
    </ul>

    <button class="my-10" mat-stroked-button (click)="updateData()">
      Add New Nakama
    </button>

  </div>

  <div class="w-2/3 p-5 flex justify-center">

    @defer(when isClick()) {

    <div class="text-white">
      <img [src]="nakama().imgUrl" alt="usopp" class="h-[250px] w-[250px] my-2" />

      <p class="my-2">
        Name:
        <span class="text-2xl font-bold">{{ nakama().name }}</span>
      </p>

      <p class="my-2">
        Nickname:
        <span class="text-2xl font-bold">{{ nakama().nickname }}</span>
      </p>

      <p class="my-2">
        Devil Fruit:
        <span class="text-2xl font-bold">{{ nakama().devilFruit }}</span>
      </p>

      <p class="my-2">
        Type:
        <span class="text-2xl font-bold">{{ nakama().type }}</span>
      </p>

      <p class="my-2">
        Model:
        <span class="text-2xl font-bold">{{ nakama().model }}</span>
      </p>

      <p class="my-2">
        Bounty:
        <span class="text-2xl font-bold">{{ nakama().bounty | number }} Belly</span>
      </p>

      <p class="my-2">
        Origin Of Residence:
        <span class="text-2xl font-bold">{{ nakama().originOfResidence }}</span>
      </p>

      <p class="my-2">
        Equipment:
        <span class="text-2xl font-bold">{{ nakama().equipment }}</span>
      </p>

      <button class="my-10" mat-stroked-button (click)="updateData(nakama())">
        Update Data
      </button>
    </div>

    } @placeholder {
    <p class="text-slate-100 text-3xl font-bold my-3">
      Please Select Nakama
    </p>
    }

  </div>
</div>
