<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. fv@example.com">

    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    <mat-error>A valid email is required.</mat-error>
    }
  </mat-form-field>


  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input type="password" matInput autocomplete formControlName="password">

    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
    <mat-error>
      Password must be at least 6 characters long.
    </mat-error>
    }
  </mat-form-field>

  <div class="mt-4">
    <!-- <button class="w-full" type="submit" mat-stroked-button [disabled]="loginForm.invalid">
      Login
    </button> -->

    <button mat-flat-button class="w-full" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>

  </div>

</form>

<div class="flex w-full items-center justify-center mt-10 mb-10">
  <hr class="w-2/5" />
  <span class="w-1/5 flex items-center justify-center">
    o r
  </span>
  <hr class="w-2/5" />
</div>

<div class="flex w-2/3 flex-col items-center justify-center gap-y-4">
  <button mat-flat-button class="w-full">
    <img src="assets/images/google.svg" alt="" class="mr-2 inline-block h-4 w-4" />
    Continue with Google
  </button>

  <button mat-flat-button class="w-full">
    <img src="assets/images/github.svg" alt="" class="mr-2 inline-block h-4 w-4" />
    Continue with Github
  </button>

  <button mat-flat-button class="w-full">
    <img src="assets/images/facebook.svg" alt="" class="mr-2 inline-block h-4 w-4" />
    Continue with Facebook
  </button>

  <button mat-flat-button class="w-full">
    <img src="assets/images/facebook.svg" alt="" class="mr-2 inline-block h-4 w-4" />
    Continue with Twitter
  </button>
</div>

<!-- <ul>
  <li>
    <a href="#">
      <i class="fab fa-facebook-f icon"></i> </a>
  </li>
  <li>
    <a href="#"><i class="fab fa-twitter icon"></i></a>
  </li>
  <li>
    <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
  </li>
  <li>
    <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
  </li>
</ul> -->

<div class="relative flex w-full grow flex-col items-center justify-center">



</div>
