
/* @media (min-width: 1128px) {
    .atm_10yczz8_egatvm__qky54b[class] {
        --breakpoint-grid_columns: 4;
    }
}

@media (min-width: 950px) {
    .atm_10yczz8_11wpgbn__1v156lz[class] {
        --breakpoint-grid_columns: 3;
    }
}


@media (min-width: 550px) {
    .atm_10yczz8_cs5v99__1ldigyt[class] {
        --breakpoint-grid_columns: 2;
    }
}

default 1 */
