<div class="flex flex-row items-center justify-center p-5">
  <div class="w-5/6 py-10 border-y-2 border-slate-300">
    <p class="text-2xl">
      1 review
    </p>

    <p class="text-gray-500">
      Average rating will appear after 3 reviews
    </p>

    <div class="flex flex-row items-center justify-center pt-5 pb-3">
      <div class="flex items-center justify-center w-1/6">
        <img class="w-12 h-12 rounded-full"
          src="https://a0.muscache.com/im/pictures/user/a195b700-cab2-4ba2-a623-44dfa8b3ea0d.jpg?im_w=240"
          alt="Avatar of Jonathan Reinink">
      </div>

      <div class="w-5/6">
        <p class="text-xl font-medium">
          Catheryn
        </p>
        <p class="text-sm text-gray-500">
          8 years on this app
        </p>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="mr-3">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
      </div>
      <p class="text-lg">
        3 weeks ago
      </p>
    </div>

    <div class="flex flex-row mt-2">
      <p class="">
        The natural setting here is stunning and well-maintained. Check-in was smooth thanks to the staff's basic
        English. However, the app requires an Indonesian phone number for registration, which could be problematic
        for international visitors without one. Be aware of the numerous monkeys and cats around – keep your
        belongings and food secure! Overall, a single night offers a worthwhile experience.
      </p>
    </div>

  </div>

</div>
