<section>
  <header>
    <mat-toolbar color="warn" class="toolbar cursor-pointer flex flex-row justify-between">
      <div routerLink="/">
        Rent Your Space
      </div>

      <div>
        <button mat-button routerLink="/auth/login">
          Login
        </button>
      </div>
    </mat-toolbar>
  </header>

  <app-sort-product />
</section>

<div class="flex">
  <div class="w-3/4">
    <!-- <app-sort-product /> -->

    <app-product-list-map [hotels]="filteredHotels()" />
  </div>

  <div class="w-1/4 sm:w-1/2 sm:px-0 md:w-1/2 px-20 lg:px-1 md:px-0">
    <div class="sticky top-0">
      <div class="overflow-hidden h-screen flex items-center justify-center">
        <div class="h-[90%] w-full rounded-xl">
          <app-product-map [hotels]="filteredHotels()" />
        </div>
      </div>
    </div>
  </div>

</div>
